
#websiteTitle{
    text-align: center;
}
.container{
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 5%;
    padding-top: 1%;
    margin: 5% 0 1% 0;
}

.center{
    text-align: center;
    max-width: 100%;

}
.imageContainer{
    margin: 1% 1% 1% 1%;
    border: solid white;
}

#preview{
    max-width: 1000px;
    max-height: 1000px;
}

.card{
    margin: 1% 1% 1% 1%;
    height: 150px;
    color: black;
}


#translationBoxes{
    margin: 20px 10px 20px 10px;
}

#dropDownButtons{
    margin: 0 0 10px 0;
}


.buttons {
    margin: 1% 1% 1% 1%;
    border: solid 0%;
}
.responsive{
    width: 100%;
    height: auto;
}
